* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    background: url('/images/bg-pattern-top-desktop.svg'), url('/images/bg-pattern-bottom-desktop.svg');
    background-position: left top, right bottom;
    height: 100vh;
    background-repeat: no-repeat, no-repeat;
}

@media screen and (min-width: 768px){ 
  

.item-atas-kanan h1{
  font-weight: 700;
  font-size: 2.75rem;
  max-width: 300px;
}

.item-atas-kanan h3{
  font-weight: 400;
  font-size: 1.075rem;
  max-width: 400px;
  margin-top: 20px;
  line-height: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-atas {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 150px; 
  padding: 0 150px; 
  color: hsl(300, 43%, 22%);
}

.star {  
  /* margin-left: 200px; */
  width: 100%;
}

.bintang-1{
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  margin: 15px 0;
  width: 365px;
  padding: 5px 15px;
  border-radius: 10px;
}
.bintang-2{
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  margin: 15px 0;
  width: 395px;
  margin-left: 30px;
  padding: 5px 15px;
  border-radius: 10px;
}
.bintang-3{
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  margin: 15px 0;
  width: 425px;
  margin-left: 60px;
  padding: 5px 15px;
  border-radius: 10px;
}

.star h5{
 margin-left: 15px;
 font-size: 1.075rem;
 padding: 15px;
}

.container-bawah{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  padding: 0 2px;
  margin: 30px 150px 0 200px;
}

.container-bawah img{
  border-radius: 50px;
}
.comment-kiri{
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  max-width: 85%;
  height: 240px;
}

.comment-tengah{
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  max-width: 85%;
  height: 240px;
  margin-top: 30px;
}

.comment-kanan{
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  max-width: 85%;
  height: 240px;
  margin-top: 60px;
}

.header-kiri{
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  gap: 0px 0px; 
  margin : 30px 0 10px 10px;
}

.header-tengah{
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  gap: 0px 0px; 
  margin : 30px 0 10px 10px;
}

.header-kanan{
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  gap: 0px 0px; 
  margin : 30px 0 10px 10px;
}

.container-bawah p{
  line-height: 20px;
  font-weight: 100;
  /* max-width: 100; */
  margin: 10px;
  color:  hsl(300, 24%, 96%) ;
}

.verif-buyer {
color: hsl(333, 80%, 67%);
margin-top: 5px;
}
.name{
  color:  hsl(300, 24%, 96%) ;
}
.isian{
  margin-top: 15px;
}
.footer-txt {
  margin-top: 50px;
  color: black !important;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  
}
.footer-txt a{
  text-decoration: none !important;
  color: black;
  font-weight: 900;
}

}

@media screen and (max-width: 768px) {

  .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

  }
  .item-atas-kanan{
    color: hsl(300, 51%, 30%);
  }
  .judul{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
  }
  .teks {
    display: grid;
    font-weight: 400;
    font-size: 1.075rem;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  .bintang-1{
    background-color: hsl(300, 24%, 96%);
    margin: 20px 40px 20px 40px;
    text-align: center;
    height: 75px;

  }
  .bintang-2{
    background-color: hsl(300, 24%, 96%);
    margin: 0 40px 20px 40px;
    text-align: center;
    height: 75px;
  }
  .bintang-3{
    background-color: hsl(300, 24%, 96%);
    margin: 0 40px 20px 40px;
    text-align: center;
    height: 75px;
  }

  .star h5 {
    margin-top: 10px;
  }
  .star img {
    margin-top: 10px;
  }

  .comment-kiri{
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 20px 40px 20px 40px;
    width: fit-content;
  
  }
  .comment-tengah{
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 20px 40px 20px 40px;
    width: fit-content;
  }
  
  .comment-kanan{
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 20px 40px 20px 40px;
    width: fit-content;
  }
  .header-kiri{
    display: grid; 
    gap: 0 15px; 
    grid-template-columns: 0.3fr 1.7fr; 
    padding: 15px 5px 15px 15px;
  }
  
  .header-tengah{
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr; 
    gap: 0 15px; 
    padding: 15px 5px 15px 15px;
  }
  
  .header-kanan{
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr; 
    gap: 0 15px; 
    padding: 15px 5px 15px 15px;
  }
  .container-bawah img{
    border-radius: 50px;

  }
  .container-bawah p{
    line-height: 20px;
    font-weight: 10;
    max-width: 100;
    padding: 0 15px 15px 15px;
    color:  hsl(300, 24%, 96%) ;
  }
  .isian{
    margin-top: 20px;
  }
  .name{
    color:hsl(300, 24%, 96%) ;
  }
  .verif-buyer {
    color: hsl(333, 80%, 67%);
  }
  .footer-txt {
    color: black;
    text-decoration: none;
    text-align: center;
    max-width: 100%;
    padding: 10px;
  }
  .footer-txt a{
    text-decoration: none !important;
    color: black;
    font-weight: 900;
  }

}


